services:
  app:
    ports:
      - "443:443"
    env_file:
      - .env.production
  db:
    env_file:
      - .env.production
  prometheus:
    volumes:
      - ./prometheus/config/prometheus.production.yml:/etc/prometheus/prometheus.yml
