services:
  app:
    ports:
      - "8080:8080"
    env_file:
      - .env.local
  db:
    env_file:
      - .env.local
  prometheus:
    volumes:
      - ./secret/prometheus/config/prometheus.local.yml:/etc/prometheus/prometheus.yml
      - ./secret/prometheus/config/rule.yml:/etc/prometheus/rule.yml
